.product-line-content-block
  .grid
    .grid__cell.grid__cell--50-at-medium
      .grid
        - view_model.products.each do |product|
          .grid__cell.grid__cell--50
            %p.product-line-content-block__product
              = link_to(product_path(product, product.browse_link_options), class: 'product-line-content-block__product-link') do
                = image_tag(product_image_url(product.primary_image, :detail), alt: product.name, class: 'product-line-content-block__product-image')
    .grid__cell.grid__cell--50-at-medium
      .product-line-content-block__text!= view_model.text
