#badge.style-guide__subsection

  %h3= link_to_style_guide('components', 'badge')

  %p Calls out information about a particular product, particularly big & tall availability

  %p Default example:

  .style-guide__example-block

    %p.badge Big & Tall Sizes

  .style-guide__unit-test

    %h4 Unit Test

    %p Should look the same if <code>badge__link</code> is present; entire badge should be clickable

    .style-guide__example-block

      %p.badge= link_to('Big & Tall Sizes', '#', class: 'badge__link')

#badge--small.style-guide__subsection

  %h3= link_to_style_guide('components', 'badge__small')

  %p should reduce the size of the badge:

  .style-guide__example-block

    %p.badge.badge--small Big & Tall Sizes
