- if product.big_and_tall_sku?
  %p See Big & Tall price in cart

- if product.big_and_tall?
  %p.badge
    = link_to('Big & Tall Sizes', page_path('big-tall'), class: 'badge__link', data: { dialog_button: '' })
