- cache "#{product.cache_key}/summary", expires_in: 75.minutes do
  - if product.big_and_tall?
    %p.badge.badge--small Big & Tall Sizes
  %p.product-summary__media
    = link_to product_path(product, product.browse_link_options), class: 'product-summary__media-link', data: { analytics_product_impression: product_impression_data(product), analytics: product_click_analytics_data(product).to_json } do
      = image_tag(product_image_url(product.primary_image, :large_thumb), alt: product.name, itemprop: 'image', class: 'product-summary__media-image')

  .product-summary__info
    %p.product-summary__name{ itemprop: 'name' }= link_to product.name, product_path(product, product.browse_link_options), itemprop: 'url', data: { analytics: product_click_analytics_data(product).to_json }

    .product-prices.product-prices--summary{ itemprop: 'offers', itemscope: true, itemtype: 'http://schema.org/Offer' }
      = render 'workarea/storefront/products/pricing', product: product

    = append_partials('storefront.product_summary', product: product)
