/*------------------------------------*\
    #BADGE
\*------------------------------------*/

.badge {
  padding: 10px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  border: 1px solid;
}

    /**
     * 1. optional element
     */
    .badge__link {  /* [1] */
      display: block;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }

.badge--small {
  padding: 2px;
  font-size: 12px;
}
